@use '../partials/variables.scss' as *;
@use '../partials/mixins.scss' as *;

.formContainer {
    width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    margin-top: 4rem;
    border-radius: 14px;
    background-color: $light-color-one;
    box-shadow: 0px 8px 10px 1px #00000030;
}

form .row {
    margin-bottom: 2rem;
}

.row {

    &.inline-spaced {
        @include flexSpaceBtwn;
    }

    &.inline-center {
        @include flexRowCenter(0.5rem);
    }

    .group {

        &.inline-center {
            @include flexRowCenter(0.25rem);

            input {
                width: fit-content;
            }
        }

        label:not(.fakeInput) {
            text-transform: capitalize;
            margin-right: 1rem;
            display: block;
            white-space: nowrap;
        }

        input,
        textarea,
        select,
        .fakeInput {
            font-family: 'Poppins', sans-serif;
            font-size: 0.95rem;
            width: 100%;
            max-width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: none;
            // @include myHover;
            @include customOutline;
            border: 1px solid transparent;

            background: $light-color-two;

            &.invalid {
                border: 1px solid $danger-color-dark !important;

                &.shake {
                    animation: horizontalShake 0.2s forwards;
                }
            }

            &::placeholder {
                font-size: clamp(0.9rem, 5vw, 1.05rem);
            }
        }

        .fakeInput {
            display: inline-block;
            width: 150px;
            text-transform: capitalize;

            .icon {
                margin-right: 10px;
            }
        }

        select:not(.showAll):focus {
            option:first-child {
                display: none;
            }
        }

        option {
            text-transform: capitalize
        }
    }

    button {
        width: 100%;
    }
}

@keyframes horizontalShake {
    0% {
        transform: translateX(-5px);
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}