//              576         767          992      
// extra small   |   small   |   medium   |   large

$breakpoints: (
    'extra-small': 576px,
    'small': 767px,
    'medium': 992px,
    'large': 1200px,
    'extra-large': 1860px,
);

$cardSizes: (
    'small': 230px,
    'medium': 260px,
    'large': 100%
);

@mixin responsiveContainer {

    @each $name, $size in $breakpoints {

        @if $size <=576px {
            $size: 100%;
        }

        // @debug($size);

        @media screen and (min-width: $size) {
            // @debug('media'$size);
            max-width: calc($size - 100px);
        }
    }
}