@use '../partials/variables.scss' as *;

@mixin flexSpaceBtwn ($gap: 0) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
}

@mixin flexRowCenter ($gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin largeContainer {
    max-width: 1760px;
    margin: 0 auto;
}

@mixin cardsContainer ($gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;

    >.card {
        width: 260px;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin customOutline {
    outline-style: solid;
    outline-color: $color-three-dark;
    outline-offset: 2px;
    outline-width: 0px;

    transition: outline-width 0.05s, outline-color 0.03s;

    &:hover,
    &:focus-visible {
        outline-width: 2px;
    }

    &:active {
        outline-color: $color-three-light;
    }
}