@mixin flexSpaceBtwn ($gap: 0) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
}

@mixin flexRowCenter ($gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin largeContainer {
    max-width: 1860px;
    margin: 0 auto;
}

@mixin cardsContainer ($gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;

    >.card {
        width: 260px;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}