// Fade
.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// Fade Fast
.fade-fast-enter-active {
  transition: all 0.2s ease;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
  opacity: 0;
}

// Fade Slide Top
.fade-slide-top-enter-active,
.fade-slide-top-leave-active {
  transition: all 0.3s ease;
}

.fade-slide-top-enter-from,
.fade-slide-top-leave-to {
  opacity: 0;
  transform: translateY(-15px);
}

// Fade Slide Right
.fade-slide-right-enter-active,
.fade-slide-right-leave-active {
  transition: all 0.3s ease;
}

.fade-slide-right-enter-from,
.fade-slide-right-leave-to {
  opacity: 0;
  transform: translateX(15px);
}