// Colors

$light-color-one: #f5f5f5;
$light-color-two: #f0f0f0;
$light-color-three: #e0e0e0;

$dark-color-one: #141414;
$dark-color-two: #252525;

$color-one-dark: #4294F2;
$color-one-light: #7db7f8;

$color-two-dark: #59DCC0;
$color-two-light: #8ffde5;

$color-three-dark: #f39237;
$color-three-light: #faa95e;

$success-color-light: #56db75;
$success-color-dark: #28a745;

$warning-color-light: #f5d679;
$warning-color-dark: #e6b00a;

$danger-color-light: #f56372;
$danger-color-dark: #dc3545;

// Border Radius
$small-border-radius: 8px;
$big-border-radius: 12px;